<section id="section-about" class="clearfix about">

    <div class="heading center">
        <h2 class="heading__main">Meet The Team</h2>
        <h6 class="heading__byline">Click a team member to read more</h6>
    </div>

    <div class="container">
        <div class="team__wrapper">
            {% for person in team %}
                {% include 'atoms/card.twig' %}
            {% endfor %}
        </div>
    </div>
    {% include 'molecules/team__modals.twig' %}

    <div class="about__associations-slab">
        <div class="container">
            {% include 'molecules/associations__carousel.twig' %}
        </div>
    </div>

</section>

