<section id="verification-slab">
    <img src="assets/patients-choice-winner-2016.png" alt="Patient Choice Award Winner, 2016" class="verification-img flex__item">
    <p class="verification-text flex__item">Dr. Michael D. Cary, DMD has been recognized as one of the top Canby Dentistry practices. Verified by
        Opencare.com</p>
</section>
<footer id="footer" class="footer ">

    <div class="flex--wrapper">
        <div class="text">
            <p class="notd tyson-steele-text">&copy; <span class="js-copyright-year">2017</span> All Rights Reserved by <a href="http://www.tysonsteele.com/" target="_blank" class="tysonsteele">Tyson&nbsp;Steele&nbsp;Associates</a>
            <a href="/accessibility.html" target="_blank" class="accessibility">Accessibility&nbsp;Statement</a></p>
        </div>
        {% include 'molecules/social-media-links.twig' %}
    </div>

</footer><!-- #footer end -->