<section id="section-reviews" class="parallax">
    <div class="container center">
        <h2 class="heading">READ WHAT OUR PATIENTS ARE SAYING</h2>
        <h5 class="heading__byline">Real reviews from some of our patients</h5>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 center">
                <h4 class="review__sub-title">Sherwood Reviews</h4>
                <div id="bf-revz-widget-{{ birdeye }}" style="-webkit-overflow-scrolling:touch;">
                    <div class="bf-dv"><span class="bf-spn hidden-xs hidden-sm">reviews powered by <a class="bf-pro" href="http://www.tysonsteele.com/" target="_blank">Tyson Steele Associates</a></span></div>
                </div>
            </div>
            <div class="col-sm-6 center">
                <h4 class="review__sub-title">Canby Reviews</h4>
                <div id="bf-revz-widget-1147052381" style="-webkit-overflow-scrolling:touch;">
                    <div class="bf-dv"><span class="bf-spn">reviews powered by <a class="bf-pro" href="http://www.tysonsteele.com/" target="_blank">Tyson Steele Associates</a></span></div>
                </div>
            </div>
        </div>
    </div>
    {#<!--<div class="mobile-image hidden-lg hidden-md hidden-sm">-->#}
    {#<!--<img src="/assets/reviews-bg.jpeg" alt="Happy Couple with nice teeth">-->#}
    {#<!--</div>-->#}
</section>