<section id="section-services">

    <div class="owl-carousel js-services-carousel--one hidden-xs">
        <div class="services-carousel-one__item">
            <img src="assets/services/feature-cosmetic.jpg"
                 alt="cosmetic dentistry"
                 class="services-carousel-one__image">
            <div class="services-carousel-one__copy services-carousel-one__copy--card-one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="services-carousel-one__title">Cosmetic Dentistry</h2>
                            <p class="services-carousel-one__text">One of the most cost-effective ways to improve your appearance, the
                                cosmetic restoration of a beautiful, bright, healthy smile will increase self-confidence and overall
                                life satisfaction. Cosmetic dentistry includes things like tooth-colored restorations, dental implants,
                                and crowns. We have many options, so please call us today!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-carousel-one__item">
            <img src="assets/services/feature-implants.jpg"
                 alt="cosmetic dentistry"
                 class="services-carousel-one__image">
            <div class="services-carousel-one__copy services-carousel-one__copy--card-two">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2 class="services-carousel-one__title">Implant Dentistry</h2>
                            <p class="services-carousel-one__text">Dental implants are a great option for replacing missing teeth,
                                improving chewing ability, eliminating bridges, and replacing dentures.</p>
                            <p class="services-carousel-one__text">Several implants may provide a base for a series of artificial
                                teeth known as a fixed bridge. Implants can even be used to secure a full set of removable dentures
                                for people who have no remaining natural teeth.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-carousel-one__item">
            <img src="assets/services/feature-family.jpg"
                 alt="family dentistry"
                 class="services-carousel-one__image">
            <div class="services-carousel-one__copy services-carousel-one__copy--card-three">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="services-carousel-one__title">Family Dentistry</h2>
                            <p class="services-carousel-one__text">From toddlers to the elderly, our skilled dental team is familiar
                                with the unique needs of every patient, no matter their age. Our goal is to help them develop great
                                oral habits that will last them a lifetime.</p>
                            <p class="services-carousel-one__text">Join us today and discover how our practice can help treat your
                                entire family.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-services--one hidden-sm hidden-md hidden-lg">
        <div class="services-mobile-one__item">
            <img src="assets/services/mobile-cosmetic.jpg"
                 alt="cosmetic dentistry"
                 class="services-mobile-one__image">
            <div class="services-mobile-one__copy container">
                <h2 class="services-mobile-one__title">Cosmetic Dentistry</h2>
                <p class="services-mobile-one__text">One of the most cost-effective ways to improve your appearance, the
                    cosmetic restoration of a beautiful, bright, healthy smile will increase self-confidence and overall
                    life satisfaction. Cosmetic dentistry includes things like tooth-colored restorations, dental implants,
                    and crowns. We have many options, so please call us today!</p>
            </div>
        </div>
        <div class="services-mobile-one__item">
            <img src="assets/services/mobile-implants.jpg"
                 alt="cosmetic dentistry"
                 class="services-mobile-one__image">
            <div class="services-mobile-one__copy container">
                <h2 class="services-mobile-one__title">Implant Dentistry</h2>
                <p class="services-mobile-one__text">Dental implants are a great option for replacing missing teeth,
                    improving chewing ability, eliminating bridges, and replacing dentures.</p>
                <p class="services-mobile-one__text">Several implants may provide a base for a series of artificial
                    teeth known as a fixed bridge. Implants can even be used to secure a full set of removable dentures
                    for people who have no remaining natural teeth.</p>
            </div>
        </div>
        <div class="services-mobile-one__item">
            <img src="assets/services/mobile-family.jpg"
                 alt="cosmetic dentistry"
                 class="services-mobile-one__image">
            <div class="services-mobile-one__copy container">
                <h2 class="services-mobile-one__title">Family Dentistry</h2>
                <p class="services-mobile-one__text">From toddlers to the elderly, our skilled dental team is familiar
                    with the unique needs of every patient, no matter their age. Our goal is to help them develop great
                    oral habits that will last them a lifetime.</p>
                <p class="services-mobile-one__text">Join us today and discover how our practice can help treat your
                    entire family.</p>
            </div>
        </div>
    </div>

    <div class="heading">
        <div class="container">
            <h2 class="heading__title">Our Services</h2>
            <p class="heading__byline">Comprehensive care for you and your whole family</p>
        </div>
    </div>

    <div class="full-width-carousel__wrapper hidden-xs">
        <div class="container full-width-carousel__container-fix">
            <div class="owl-carousel js-services-carousel--two full-width-carousel">
                {% for service in services %}
                    {% include 'atoms/card--services.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="full-width-carousel__wrapper hidden-sm hidden-md hidden-lg">
        <div class="container full-width-carousel__container-fix">
            <div class="owl-carousel js-services-carousel--mobile full-width-carousel">
                <div class="mobile-service-carousel-card">
                    {% include 'atoms/card--services.twig' with { service: services[0] } %}
                    {% include 'atoms/card--services.twig' with { service: services[1] } %}
                </div>
                <div class="mobile-service-carousel-card">
                    {% include 'atoms/card--services.twig' with { service: services[2] } %}
                    {% include 'atoms/card--services.twig' with { service: services[3] } %}
                </div>
                <div class="mobile-service-carousel-card">
                    {% include 'atoms/card--services.twig' with { service: services[4] } %}
                    {% include 'atoms/card--services.twig' with { service: services[5] } %}
                </div>
            </div>

        </div>
    </div>

    {% include 'molecules/services__modals.twig' %}

</section>