<section id="section-gallery" class="gallery">
    <div class="container heading">
        <h2 class="heading__title">Gallery of Smiles</h2>
        <h5 class="heading__byline">Click a patient to learn more</h5>

    </div>

    <div class="container">
        <div class="smiles__wrapper">
            <div class="owl-carousel js-smiles-carousel">
                {% for person in smiles %}
                    {% include 'atoms/card--smiles.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'molecules/smile__modals.twig' %}

</section>
