<section id="section-gallery" class="gallery">
    <div class="container heading">
        <h2 class="heading__title">Gallery of Smiles</h2>
        <h5 class="heading__byline">Click a patient to learn more</h5>

    </div>

    <div class="full-width-carousel__wrapper">
        <div class="container full-width-carousel__container-fix">
            <div class="owl-carousel js-smiles-carousel full-width-carousel">
                {% for person in smiles %}
                    {% include 'atoms/card--smiles.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'molecules/smile__modals.twig' %}

</section>
