.google-map,
.gmap {
  width: 100%;
  height: 200px;

  @media (min-width: $width-xs) {
    height: 250px;
  }

  @media (min-width: $width-sm) {
    height: 250px;
  }

  @media (min-width: $width-md) {
    height: 450px;
  }

  @media (min-width: $width-lg) {
    height: 450px;
  }
}
