.gmap {
  height: 200px;

  @media (min-width: $width-xs) {
    height: 250px;
  }

  @media (min-width: $width-sm) {
    height: 250px;
  }

  @media (min-width: $width-md) {
    height: 550px;
  }

  @media (min-width: $width-lg) {
    height: 550px;
  }
}
