.about {
  background-color: #e6f2dc;

  .heading {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    &__main {
      color: #2b2725;
      margin-bottom: 10px;
      line-height: 1;
    }
  }

  &__associations-slab {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .team {
    &__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 30px;

      .card {
        width: 100%;

        @media (min-width: 768px) {
          width: 31%;
        }

        @media (min-width: 990px) {
          width: 25%;
        }
      }
    }
  }

  //Video Slab
  &__video-slab {
    background-color: #fff;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .video-slab {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__copy,
    &__iframe {
      width: 100%;

      @media (min-width: 768px) {
        width: 47.5%;
      }
    }

    &__title {
      color: #2c2340;
      font-weight: 900;
      margin-bottom: 30px;
      line-height: 1;
    }

    &__byline {
      color: #fff;

      @include h5();
    }

    &__text {
      text-align: left;
      color: #2c2340;
      font-family: $ff-lato;

      @include font-size(32px, 28px, 26px, 24px, 20px);
    }
  }
}

.team-modal-wrapper {
  .modal-image {
    display: inline-block;
    float: left;
    margin: 0 20px 10px 0;
    padding-bottom: 0;
  }
}
