/// Call to Action Three to One Layout
.cta__three-to-one {
  background: #fff;

  .flex--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (max-width: $width-md) {
      flex-direction: column;
      align-items: center;
    }
  }

  .flex--item {
    width: 33%;

    @media screen and (max-width: $width-md) {
      width: 100%;
    }

    &:nth-child(2) {
      border-bottom: solid 1px #979797;

      @media (min-width: 992px) {
        border-left: solid 1px #979797;
        border-right: solid 1px #979797;
        border-bottom: none;
      }
    }
  }

  .new-patient {
    text-align: center;

    .text {
      letter-spacing: 0.4px;
      color: #000;
      font-size: 20px;
      margin-bottom: 0;

      @include font-size(20px, 18px, 20px, 20px, 20px);
    }

    &-number {
      color: #ff7a00;
      font-size: 32px;
      font-weight: 500;
      margin-top: 5px;
      margin-bottom: 15px;
      line-height: 1;

      @include font-size(39px, 32px, 30px, 28px, 28px);

      a {
        @include link-color(#ff7a00);

        &:hover {
          text-decoration: none;
        }
      }
    }

    @media screen and (max-width: $width-md) {
      text-align: center;
      padding-bottom: 15px;
    }
  }

  .btn {
    padding: 10px 30px;

    &--wrapper {
      text-align: center;
      padding-bottom: 5px;
      margin: 0 15px 15px;

      .text {
        font-size: 21px;
        margin-bottom: 10px;
      }
    }
  }

  .existing-patient {
    text-align: center;

    .text {
      letter-spacing: 0.4px;
      color: #000;
      font-size: 20px;
      margin-bottom: 0;

      @include font-size(20px, 18px, 20px, 20px, 20px);
    }

    &-number {
      color: #000;
      font-weight: 400;
      font-size: 32px;
      margin-top: 5px;
      margin-bottom: 15px;
      line-height: 1.4;

      a {
        @include link-color(#000);

        &:hover {
          text-decoration: none;
        }
      }
    }

    @media screen and (max-width: $width-md) {
      text-align: center;
      padding-top: 15px;
    }
  }
}

#cta-two {
  @media (min-width: 992px) {
    .flex--item:nth-child(1) {
      order: 1;
    }

    .flex--item:nth-child(3) {
      order: -1;
    }
  }
}
