#verification-slab {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #797875;
  border-top: solid 5px #fff;
  border-bottom: solid 5px #fff;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .verification-text {
    max-width: 300px;
    padding: 0 10px;
    margin-bottom: 0;
    line-height: 1.3;
    color: #fff;
  }
}

//Overrides for Canvas
#footer {
  position: relative;
  background-color: #d8d2c6;
  border-top: none;
  padding: 25px;

  a {
    @include link-color(#2b2725);
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.7;
    color: #2b2725;

    @media screen and (max-width: $width-md) {
      float: none;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: $width-md) {
    text-align: center;
    padding: 20px;
  }

  .text {
    @media (min-width: 768px) {
      text-align: right;
    }
  }

  .tyson-steele-text {
    font-weight: 400;
    color: #2b2725;
    margin-bottom: 5px;
  }

  .facebook-link {
    margin-bottom: 20px;
  }

  .flex--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $width-sm) {
      flex-direction: column;

      .text {
        order: 1;
      }
    }
  }

  .accessibility {
    padding-left: 5px;
  }
}
