#section-insurance {

  $c-no-insurance: #009c8b;
  $c-sub-header: #2b2725;
  $c-preventative: #000;
  $c-copy: #000;
  $c-mobile-bg: #e6f2dc;

  padding-top: 50px;
  padding-bottom: 30px;
  background-image: url('/assets/membership-role.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  background-color: #e6f2dc;
  border-top: solid 5px #fff;

  @media (max-width: $width-md - 1) {
    background-color: $c-mobile-bg;
    background-image: none;
    padding-bottom: 0;

    .row > div {
      text-align: center;
    }
  }

  .title {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 1.1;
    color: $c-no-insurance;

    @include font-size(60px, 55px, 48px, 43px, 32px);

    @media (width: 768px) {
      font-size: 40px;
    }
  }

  .sub-title {
    color: $c-sub-header;
    margin-bottom: 0;
    display: inline-block;

    @include font-size(26px, 24px, 24px, 24px, 24px);
  }

  .care-text {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
    padding-top: 30px;
    color: $c-preventative;

    @include font-size(28px, 26px, 26px, 26px, 26px);
  }

  .list-item {
    list-style: none;

    p {
      color: $c-copy;
      list-style: none;
      font-size: 21px;
      margin-bottom: 0;
      line-height: 1.2;

      @include font-size(25px, 19px, 14px, 18px, 14px);
    }
  }

  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    @include lr-padding(80px, 70px, 60px, 60px, 40px);
  }

  //Fix for insurance background on mobile
  .mobile-insurance-fix {
    display: none;

    img {
      width: 100%;
    }

    @media (max-width: $width-md - 1) {
      margin-top: -20px;
      display: block;
    }
  }
}
