.gallery {
  $c-no-insurance: #5a710d;
  $c-sub-header: #5a710d;
  $c-preventative: #323437;
  $c-copy: #323437;
  $c-mobile-bg: #fff;

  padding-top: 50px;
  background-color: #fcf7ed;
  padding-bottom: 50px;

  .heading {
    text-align: center;
    padding-bottom: 45px;

    &__title {
      margin-bottom: 10px;
      line-height: 1;
    }

    &__byline {
      margin-bottom: 0;
      line-height: 1;
    }
  }

  .js-gallery-carousel {
    display: none;
  }

  //To allow the arrows to go out to the edges
  .full-width-carousel {
    position: static;

    &__container-fix {
      //Important used to override canvas
      position: static !important;
    }

    &__wrapper {
      position: relative;
    }

    .owl-stage-outer {
      position: static;
    }
  }

  $offset: 0;

  .owl-carousel .owl-nav [class*=owl-] {
    right: $offset;
  }

  .owl-carousel .owl-nav .owl-prev {
    left: $offset;
  }

  .owl-carousel:hover .owl-nav .owl-next {
    right: $offset;
  }

  .owl-carousel:hover .owl-nav .owl-prev {
    left: $offset;
  }
}
