#section-specials {
  background-image: url('/assets/specials-bkgd.jpg');
  padding-top: 30px;
  padding-bottom: 60px;

  .heading {
    padding-top: 10px;
    padding-bottom: 10px;

    &__title {
      margin-bottom: 5px;
      line-height: 1;
      color: #ff7a00;
      font-weight: 700;
      text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
    }

    &__sub-title {
      color: #000;
      font-weight: 400;
      margin-bottom: 5px;

      @include h6();
    }

    &__byline {
      color: #009c8b;
      font-weight: 700;
      line-height: 1;
      text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
    }
  }

  .specials__card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;

      .specials-card {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  .specials-card {
    margin-top: 82px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 30%;
    position: relative;
    border-radius: 30px;

    &__top {
      //border-bottom: 44px solid turquoise;
      padding-bottom: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      display: flex;
      flex-direction: column;
    }

    &__bottom {
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__cost {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -82px;
      margin-left: auto;
      margin-right: auto;
      width: 164px;
      height: 164px;
      //border: solid 4px white;
      border-radius: 50%;
      color: #fff;

      h2 {
        color: #fff;
        font-size: 72px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 0.8;
      }

      p {
        line-height: 1;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0;
      }

      &::before {
        content: '$';
        position: absolute;
        font-size: 35px;
        left: 17px;
        top: 35px;
        font-weight: 400;
      }
    }

    &__savings {
      font-size: 20px;
      z-index: 10;
    }

    &__title {
      font-weight: 700;
      line-height: 1.1;

      @include font-size(28px, 26px, 32px, 30px, 26px);
    }

    &__copy {
      color: #000;
      line-height: 1.4;
      margin-bottom: 90px;
      font-size: 16px;
    }

    &__codes {
      font-size: 14px;
      margin-bottom: 35px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:nth-child(1) {
      .specials-card__top {
        background-color: #ffbe83;
        border-bottom-color: #ffbe83;
      }

      .specials-card__cost {
        background-color: #ff7a00;
      }

      .specials-card__savings {
        color: #fff;
      }

      .specials-card__title {
        color: #ff7a00;
      }
    }

    &:nth-child(2) {
      .specials-card__top {
        background-color: #95d055;
        border-bottom-color: #95d055;
      }

      .specials-card__cost {
        background-color: #529d00;
      }

      .specials-card__savings {
        color: #fff;
      }

      .specials-card__title {
        color: #529d00;
      }
    }

    &:nth-child(3) {
      .specials-card__top {
        background-color: #42d1c1;
        border-bottom-color: #42d1c1;
      }

      .specials-card__cost {
        background-color: #009c8b;
      }

      .specials-card__savings {
        color: #fff;
      }

      .specials-card__title {
        color: #009c8b;
      }
    }
  }
}
